<h2 style="text-align: center"> {{randomize model.colors}} {{randomize model.nouns}} </h2>
<h2 style="text-align: center"> {{randomize model.colors}} {{randomize model.nouns}} </h2>
<h2 style="text-align: center"> {{randomize model.colors}} {{randomize model.nouns}} </h2>
<h2 style="text-align: center"> {{randomize model.colors}} {{randomize model.nouns}} </h2>
<h2 style="text-align: center"> {{randomize model.colors}} {{randomize model.nouns}} </h2>
<h2 style="text-align: center"> {{randomize model.colors}} {{randomize model.nouns}} </h2>
<h2 style="text-align: center"> {{randomize model.colors}} {{randomize model.nouns}} </h2>
{{outlet}}
